.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#space {
    position: absolute;
    height: 110%;
    width: 110%;
    top: -5%;
    left: -5%;
    overflow: hidden;
}
.layer {
    height: 120%;
    width: 120%;
    position: absolute;
    background-repeat: repeat;
    z-index: -101;
}

.layer-1 {
    background: url('../assets/layer1.png');
    background-position: center;
}

.layer-2 {
    background: url('../assets/layer2.png');
}
