.nav {
    min-height: 100vh;
    min-width: 300px;
    background-color: rgb(20,20,20,0.6);
    position: absolute;
    text-align: center;
    z-index: 100;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}
#li-logo {
  background-color: rgb(50,50,50);
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-left;
}
.nav li {
  padding: 10px;
  text-align: left;
}
.nav ul a {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed';
    font-size: 26px;
    color: rgb(200, 200, 200);
    text-decoration: none;
    transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
}
.nav ul a:hover {
  box-shadow: inset 300px 0 0 0 rgb(70,70,70);
}

.nav .pr-pointer {
  display: none;
  position: absolute;
  bottom: 360px;
  left: 0;
  right: 0;
  font-family: 'Roboto Condensed';
  color: rgb(200, 200, 200);
}

.pr-pointer .arrows {
  position: relative;
  animation: bob infinite alternate-reverse 300ms;
}

@keyframes bob {
  0% {
    top: 1px;
  }

  100% {
    top: -5px;
  }
}
