.pulls {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 350px;
}
.pull-request {
  padding: 0;
  height: 70px;
  background-color: rgb(250,250,250);
  border-top: 1px solid rgb(200,200,200);
}
.pull-request h5 {
  margin: 10px 0 0 0;
  height: 60px;
  color: #404040;
  font-family: sans-serif;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}
.pull-request h5:hover {
  white-space: normal;
}
.avatar {
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  float: left;
}

.mergestatus {
  float: right;
  height: 20px;
  margin-right: 5px;
}
